$first-color: hsl(23, 100%, 50%);
$gradient-color: linear-gradient(
  90deg,
  hsl(23, 4%, 28%) 0%,
  hsl(23, 4%, 8%) 100%
);
$white-color: hsl(0, 0%, 100%);
$text-color: hsl(23, 4%, 60%);
$body-color: hsl(23, 12%, 4%);
$container-color: hsl(23, 4%, 10%);
