.sponsor_container{
    &_content{
        display: grid;
        grid-template-columns:repeat(2,max-content);
        gap: 2rem;
        justify-self: center;
        
        &-img{
            width: 150px;
            transition: .3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@include dizüstü{
    .sponsor{
        &_container{
            &_content{
                display: grid;
                grid-template-columns:repeat(4,max-content);
                gap: 2.5rem;
            }
        }
    }
}