
    $header-height: 3.5rem;
    $body-font: "Roboto", sans-serif;
    $title-font: "Gugi", sans-serif;
    $biggest-font-size: 11rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: 0.938rem;
    $small-font-size: 0.813rem;
    $smaller-font-size: 0.75rem;
    $font-regular: 400;
    $font-medium: 500;
    $font-semi-bold: 600;
    /* z-index */
    $tooltip: 10;
    $fixed: 100;

    
  
  